<form id="line_type">
    <input id="line_type_1" name="type_group" type="radio" size="7">Ax1 <= c</intput>
    <input id="line_type_2" name="type_group" type="radio" size="10">Bx2 <= c</intput>
    <input id="line_type_3" name="type_group" type="radio" size="10" checked>Ax1 + Bx2 <= c</intput>
</form>