<form id="type_1" style="display: none">
<label for="input_a_1">A:</label>
{{input id="input_a_1" value=model.newLine.A size=3}}
<label for="input_c_1">C:</label>
{{input id="input_c_1" value=model.newLine.C size=3}}
<label for="input_sign_1">Знак:</label>
{{view Ember.Select
	content=model.signTypeList
	optionValuePath="content"
	optionLabelPath="content"
	selectionBinding="model.newLine.sign"
}}
<br/>
<input type="submit" {{action 'addLine' '1' target=model}} value="Добавить"/>
</form>
