<div id="blablabla" style="overflow:hidden">
    <div id="box" class="jxgbox" style="width:800px; height:600px; float:left;"></div>
    <div id="forms">
        {{render 'partials/forms/formLineType' controller}}
        {{render 'partials/forms/formNewLine' controller}}
        {{render 'partials/forms/formInequalities' controller}}
    </div>
    <a href=""{{action 'clearAll'}}>Очистить</a>
</div>